@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: local("Roboto"),
			url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: bold;
	font-weight: 700;
	src: local("Roboto"),
			url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
}

:root {
	box-sizing: border-box;
	font-size: 14px;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	background: #22272e;
	color: rgb(173, 186, 199);
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
}

header {
	background: black;
	padding: .4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

.settings-input {
	width: 100%;
}

#timer {
  visibility: hidden;
}

#sounds_combination{
	display: flex;
	flex-direction: column;
	margin-bottom: .8em;
}

.message-wrap {
	min-height: 1.2em;
}

.content {
	max-width: 62em;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-controls {
	margin-top: 1em;
}

.btn {
	cursor: pointer;
	background: #373e47;
	color: rgb(173, 186, 199);
	border-radius: 5px;
	border: 1px rgb(55, 62, 71) solid;
	padding: .8em;
	transition: all .3s;
}

.btn:hover {
	background: #515b68;
}

.btn:active {
	background: #2e343b;
}

.btn:disabled {
	cursor: not-allowed;
	background: #970017;
}

.form-error {
	color: rgb(246, 69, 69);
	visibility: hidden;
}

.fieldset-err {
	border-color: rgb(246, 69, 69);
}

.form-error.active {
	visibility: visible;
}
